@media (max-width: 992px) {
    :root {
        --width-container-wapper: 920px;  
        --main-width-result-product: 100% !important;
    }

    .container-slider {
        width: 100%;
    }

    .banner-slider {
        padding-top: 90px !important;
    }

}