@media (max-width: 992px) {
    :root {
        --width-item-category: 56px;
        --height-item-category: 56px;
    }

    .session-product-home .filter-categories {
        margin-top: 0px !important;
    }
  
    
    .session-product-home .result-products .item {
        width: 48% !important;
        display: flex;
        padding: 5px !important;
    }
    .session-product-home .result-products .item .img-product {
        margin: 0 !important;
        width: 110px !important;
        height: 110px !important;
    }

    .session-product-home .result-products .item .product-info {
        position: relative;
        width: calc(100% - 110px);
    }

    .session-product-home .result-products .item .title-product {
        padding: 0px 10px !important;
    }

    .session-product-home .result-products .item .action-product {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .session-product-home .more-product , .session-new .more-new{
        margin-top: 30px !important;
        width: 100%;
        text-align: center;
    }

    .session-new .container-result-new .item-new  {
        width: 48% !important;
        margin: 1% !important;
    }

    .session-new .container-result-new .img-new {
        width: 100% !important;
        height: 165px !important;
    }
}