@media (max-width: 768px) {
    :root {
        --width-item-category: 46px;
        --height-item-category: 46px;
    }

    .product-home .title {
        margin-top: 0px !important;
        margin-left: 0px !important;
        justify-content: start;
        padding: 15px;
        font-size: 13px !important;
    }


    .product-home .filter-categories ul {
        justify-content: start !important;
        overflow-x: scroll;
    }

    .product-home .filter-categories li{
        margin: 0px 20px !important;
    }

    .product-home .result-products .item {
        width: 100% !important;
        margin: 10px 0;
        display: flex;
        padding: 5px !important;
    }

    .product-home .result-products .item .img-product {
        margin: 0 !important;
        width: 90px !important;
        height: 90px !important;
    }

    .product-home .result-products .item .product-info {
        width: calc(100% - 90px) !important;
    }

}

@media (max-width: 340px) {

}