@media (max-width: 768px) {
    :root {
        --width-item-category: 46px;
        --height-item-category: 46px;
    }

    .product-home .title {
        margin-top: 0px !important;
        margin-left: 0px !important;
        justify-content: start;
        padding: 15px;
        font-size: 13px !important;
    }


    .product-home .filter-categories ul {
        justify-content: start !important;
        overflow-x: scroll;
    }

    .product-home .filter-categories li{
        margin: 0px 20px !important;
    }

}

@media (max-width: 340px) {

}