@media (min-width: 1260px) {
    :root {
        --width-container-wapper: 1130px;  
        --width-slider: 1130px;
        --width-container-main: 1130px;
    }

    .container-slider {
        width: var(--width-slider);
        margin: 0 auto;
    }
}

@media (max-width: 1260px) {
    :root {
        --width-container-wapper: 1020px;  
        --width-slider: 1020px;
        --main-width-result-product: 970px !important;
    }

    .container-slider {
        width: var(--width-slider);
        margin: 0 auto;
    }

    .container-slider {
        padding:0px 10px;
    }
    .session-product-home .result-products .item {
        margin: 10px 0px 0px 12.5px !important;
    }

    .session-new .container-result-new .item-new  {
        width: 212px !important;
        margin: 20px 20px 0px 0px !important;
    }

    .session-new .container-result-new .img-new {
        width: 212px !important;
        height: 145px !important;
    }
}
