.session-blogs {
    margin-top: 130px;
}

.session-blogs>.title .svg-inline--fa{
    color: #f08008;
    font-size: 20px;
}

.session-blogs>.title h2 {
    margin-left: 10px;
    font-weight: 500;
}

.session-blogs>.title {
    display: flex;
    align-items: center;
    justify-content: center;
}